<div class="row py-2">
  <div class="col-12">
    <a class="btn btn-primary" href="user_form.html">Add User</a>
  </div>

  <div class="col-12">
    <table class="table table-bordered my-2">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
          <a class="btn btn-success" routerLink="/user/{{user.id}}"><i class="fas fa-edit"></i></a>
          <a class="btn btn-danger" (click)="delete(user.id)"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
