<div class="row py-2">
  <div class="col-12">
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>

    <form (ngSubmit)="save()">

      <div class="form-group">
        <label>Username</label>
        <input [(ngModel)]="user.username" type="text" class="form-control" id="username" name="username"
               placeholder="Enter username">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email"
               placeholder="Enter email">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="user.password" type="password" class="form-control" id="password" name="password"
               placeholder="Enter password">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
